/*.backgroundImage {
    background-image: url(space_background.jpg)
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blurred-background {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position: center center;
}*/

body {
    background-image: url(space_background.jpg)
    background-repeat: no-repeat;
    background-attachment: fixed;
}